<mat-card class="card">
  <div *ngFor="let Product of products">
    <mat-card-title>
        <h3>
          <a
            [title]="Product.name + 'detalles'"
            [routerLink]="['/products', Product.id]"
          >
            {{ Product.name }}
          </a>
        </h3>
        <hr>
    </mat-card-title>
     
    <mat-card-content>
        <p>Precio: {{ Product.price | currency }}</p>
    
        <p *ngIf="Product.description">descripcion: {{ Product.description }}</p>
         
        <img
                class="photo"
                [src]="Product.photo"
                [alt]="Product.name"
                width="200px"
                height="200px" 
              />
              <hr />
        <button type="button" (click)="share(Product.name)">Compartir</button>
    
        <button type="button" [routerLink]="['/products', Product.id]">
          Detalle
        </button>
        <hr>
    </mat-card-content>

    
     
</div>

</mat-card>
 

<!-- 
Copyright Google LLC. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at https://angular.io/license
-->
